.products-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1110px;
  width: 90%;
  margin: auto;
}

.products-img {
  width: 200px;
}
